<h1>Usuários Cadastrados</h1>
<div class="container">
    {{#each users}}
        <div class="item">
            <h2>{{name}}</h2>
            <p>{{occupation}}</p>
            <p>{{#if newsletter}}
                <span>Recebe promoções</span>
            {{else}}
                <span>Não recebe promoções</span>
            {{/if}}</p>
            <div class="actions">
                <a href="/users/{{id}}" class="details-btn">Ver detalhes</a>
                <form action="/users/delete/{{id}}" method="POST">
                    <input type="submit" value="Excluir" class="delete-btn">
                </form>
            </div>
        </div>
    {{/each}}
</div>
